<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUserManager" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9999/userservice" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IUserManager" contract="Fly.WCFDemo.Contracts.IUserManager"
          name="WSHttpBinding_IUserManager">
        <identity>
          <userPrincipalName value="work-fly\fly" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>